<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Todo App with Ngrx</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <app-todo-form (addTodo)="addTodo($event)"></app-todo-form>
  <div class="todo-list">
    <ng-container *ngFor="let todo of todoList; let i = index">
      <div *ngIf="editIndex !== i" class="todo-item-view">
        <div class="todo-content">{{ todo }}</div>
        <div class="todo-actions">
          <button class="btn todo-edit-btn" (click)="editTodo(i)">Edit</button
          ><button (click)="deleteTodo(i)" class="btn todo-edit-btn">
            Delete
          </button>
        </div>
      </div>
      <div *ngIf="editIndex === i" class="todo-item-edit">
       <app-todo-form [edit]="true" [todoInput]="todo" (cancelUpdate)="editIndex = -1" (updateTodo)="updateTodo($event)"></app-todo-form>
      </div>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
